body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    text-align: justify;
    background-color: #F6F1E5;
    color: #4b3f3b;
    margin: 0;
    padding: 0;
}
/* Navbar */
#nav {
    padding: 0;
}


#cf1 {
    position: relative;
    margin-bottom: 0;
    text-align: center;
}

/* Images&Logos */
.BOPano {
    max-width: 100vw;
    max-height: 100vw;
    margin: 0;
}

.BOMTBLogoWhite {
    width: 20%;
    height: auto;
    max-width: 50vw;
    position: absolute;
    right: 3%;
    bottom: 23%;

}

.h1cs {
    font-family: 'Lemon Tuesday', sans-serif;
    color: #F6F1E5;
    font-weight: normal;
    font-size: 7vw;
    position: absolute;
    Left: 5%;
    bottom: 3%;
}

