body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: #F6F1E5;
}

.container-fluid {
    padding: 7% 15%;
}

.container-fluid1 {
    background-color: #eee3cB;
    position: relative;
    margin-bottom: 0;
    text-align: center;

/* Sections */

.colored-section {
    color: #4b3f3b;
}

.white-section {
    background-color: #F6F1E5;
    color: #4b3f3b;
}

/* Headings */

.big-heading {
    font-family: 'Lemon Tuesday', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;

}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Download Button */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}

/* Title image */
.title-image {
    width: 100%;
}

/* Features Section  */

#features {
    background-color: #ffffff;
    position: relative;

}

.feature-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
}

.House {
    display: inline-block;
    width: 10%;
    max-width: 50vw;
    margin-right: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 0%;

p {
    color: #8f8f8f
}

.icon {
    color: #ef8172
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 10px;
}

#press {
    background-color: #ef8172;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing */

.price-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

@media (max-width: 992px) {
    .title-image {
        width: 60%;
        position: static;
        transform: rotate(0);
    }

}

.footer-item {
    padding: 0 10px 10px;
}

.BOMTBLogoWhite {
    width: 20%;
    height: auto;
    max-width: 50vw;
    position: absolute;
    right: 3%;
    bottom: 23%;
}

.BOPano {
    max-width: 100vw;
    max-height: 100vw;
    margin: 0;
    position: relative;
}